<!DOCTYPE html>
<html>

    <head>
        <title> {{ .Title }} &middot; {{ .Site.Title }} </title>

        {{ partial "head.html" . }}
    </head>

    <body>
        {{ partial "header.html" . }}
        <div class="container wrapper">
            <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
            <span class="post-date">{{ .Date.Format "02/01/2006" }}</span>
            {{ if .Params.tags }}
                <p style="margin-bottom:20px">Tag{{ if gt (len .Params.tags) 1 }}s{{ end }}:
                {{ range .Params.tags }}
                    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> 
                {{ end }}
                </p>
            {{ end }}
            <div class="post-content">
                {{ .Content }}
            </div>
            {{ if (isset .Params "nocomments")  }}
            {{ else }}
            <div class="post-comments">
                {{ template "_internal/disqus.html" . }}
            </div>
            {{ end }}
            <div class="push"></div>
        </div>
        {{ partial "footer.html" . }}
    </body>
